body {
  background: #f5f5f5;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 20px 0;
  min-width: 1000px;
}
.container {
  width: 100%;
  height: 100%;
}
.f_row {
  background: #fff;
  display: flex;
  position: relative;
  max-width: 1000px;
  height: 300px;
  width: 100%;
  margin: auto;
  flex-direction: row;
}
.j_center {
  justify-content: center !important;
}
.j_start {
  justify-content: flex-start !important;
}
.j_end {
  justify-content: flex-end !important;
}
.f_row.sm {
  height: 80px;
}
.f_row.sm100 {
  height: 100px;
}
.f_row.sm200 {
  height: 200px;
}
.f_row.sm300 {
  height: 300px;
}
.f_row.md {
  height: 400px;
}
.f_row.lg {
  height: 600px;
}
.f_row.xlg {
  height: 700px;
}
.f_col {
  display: flex;
  height: auto;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.f_col.c1 {
  width: 10%;
}
.f_col.c2 {
  width: 20%;
}
.f_col.c3 {
  width: 30%;
}
.f_col.c4 {
  width: 40%;
}
.f_col.c5 {
  width: 50%;
}
.f_col.c6 {
  width: 60%;
}
.f_col.c7 {
  width: 70%;
}
.f_col.c8 {
  width: 80%;
}
.f_col.c9 {
  width: 90%;
}
.f_col.c10 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.w100 {
  width: 100%;
}
.f_dir_column {
  flex-direction: column;
}

/**
 * Misc
 */
.overflow_hidden {
  overflow: hidden !important;
}

/**
 * Colors
 */
.leather_brown_bg {
  background-color: #854c30 !important;
}

/**
*  Game elements
*/
/* button {
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  outline: none !important;
  margin: 5px !important;
} */
button.skill {
  background-image: linear-gradient(to left, #0f5e7e, #146d91);
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
button.skill:hover {
  background: #0e4f69;
}
button.ability {
  background-image: linear-gradient(to left, #2be2ca, #11a793);
  color: #000;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
button.ability:hover {
  background: #0e9281;
}
button.option {
  border-radius: 0;
  background: transparent;
  color: #fff;
  height: auto;
}
button.option img {
  width: 30px;
}
button.option:hover img {
  transform: scale(1.05);
}

button:last-child {
  margin-right: 0;
}
button:first-child {
  margin-left: 0;
}

/**
 * Spacing
 */
.p_0 {
  padding: 0 !important;
}
.m_0 {
  margin: 0 !important;
}
.mx_auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my_auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.ml_auto {
  margin-left: auto !important;
}
.mr_auto {
  margin-right: auto !important;
}

.display_area,
.log,
.hud,
.inventory,
.hero,
.skills,
.abilities,
.notifications {
}

#gameLog p {
  margin: 2px 0;
  width: 100%;
}
